doctype html
html(lang="en")
	head
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")

		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

	body
		.container
			.row
				.col-xs-3
					a(href="") 
						img(src="/assets/images/NAF_Logo.png")
			 
				.col-xs-9
					ul.nav.nav-tabs
						li: a(href="") About
						li: a(href="") Products
						li: a(href="") Support
						li: a(href="") Media
						li: a(href="") News
					button.btn.btn-default.navbar-btn(type="submit") JOIN US